/* Tailwind Base Styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white text-black dark:bg-slate-900 dark:text-white transition overflow-x-hidden;
  }
}

@layer utilities {
  .fullHeightMinusNav {
    height: calc(100vh - 65px);
  }
}

@layer components {
  .underline-effect {
    position: relative;
  }

  .underline-effect::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: black;
    transition: all 400ms ease-in-out;
    @apply dark:bg-white;
  }

  .underline-effect:hover::before {
    width: 100%;
  }

  .box {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    line-clamp: 5;
  }
}
